<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hole.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kete.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{0,45},{43,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{0,86},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nyumba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,48}</string>
                <key>spriteSourceSize</key>
                <string>{46,48}</string>
                <key>textureRect</key>
                <string>{{0,112},{46,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pattern.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,90}</string>
                <key>spriteSourceSize</key>
                <string>{38,90}</string>
                <key>textureRect</key>
                <string>{{0,160},{38,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>store.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,85}</string>
                <key>spriteSourceSize</key>
                <string>{43,85}</string>
                <key>textureRect</key>
                <string>{{0,250},{43,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>board.png</string>
            <key>size</key>
            <string>{46,335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fb67db67148a7af0e9f8cb8746d8c9c:d78d78385fc01f5b9ad2ffe2a3641934:a1c005c5c1cef0262ec56454ccaf41ae$</string>
            <key>textureFileName</key>
            <string>board.png</string>
        </dict>
    </dict>
</plist>
